/* About.css */
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.aboutTitle {
  font-size: 2.75rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profileImageWrapper {
  width: 500px;
}
@media screen and (max-width: 650px) {
  .profileImageWrapper {
    width: fit-content;
    width: -moz-fit-content; /* For Firefox */
    width: fit-content; /* Standard */
  }
}
.profileImageWrap {
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 400px) {
  .profileImageWrap {
    width: 200px;
    height: 200px;
  }
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
  width: 800px;
}
@media screen and (max-width: 840px) {
  .detailsWrapper {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-radius: 30px;
  border-color: hsl(var(--border));
  width: 600px;
}
@media screen and (max-width: 700px) {
  .tabs {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.tab {
  border-width: 1px;
  width: 200px;
  height: 48px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .tab {
    width: 90%;
  }
}

.tabSelected {
  background-color: hsl(var(--primary));
  color: white;
}

.tabUnselected {
  background-color: white;
  color: black;
}
